@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Click here to visit Employee</h1>
    <p><a href="https://localhost:7041/Employee">Click Click Click</a>.</p>
</div>
